* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: "Rubik", sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  /* background-color: rgba(176, 223, 218, 0.8); */
  /* background-color: rgb(17,20,53); */
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: #c4b7a6; */
  background-color: #e6e2d3;
  /* background-color: #b9936c;
  background-color: #dac292; */
}

#mainContent {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 60%;
}

#headArea {
  height: 30%;
  width: 100%;
}

#gridArea {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#gameGrid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.grid-row {
  display: flex;
  width: 100%;
}

.grid-item {
  height: 100%;
}

.color {
  background-color: red;
}
